<%
=begin%>
  模仿搜狗页面： https://sogou.com/
<%
=end%>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">网页</a>
        </li>

    <% ['微信', '知乎', '图片', '视频', '医疗', '汉语', '翻译'].each do |name| %>
        <li class="nav-item">
            <a class="nav-link" href="#"><%= name %></a>
        </li>
    <% end %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            更多
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">知识</a></li>
            <li><a class="dropdown-item" href="#">应用</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">全部 &gt</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>


    </div>
  </div>
</nav>

<div class="home-container">

    <%
=begin%>
 # 直接使用 img 标签
 <img src="https://dlweb.sogoucdn.com/pcsearch/web/index/images/logo_440x140_31de1d2.png?v=d6bfe569"> 
<%
=end%>


<%
=begin%>
  # 这里使用 ruby 的 image_tag 语法。
  # 将文件放在 app/assets/images 目录下，就可以使用 image_tag 语法了。
  # 语法： <%= image_tag "文件名" %>
  # 属性之间使用 逗号 , 分隔
<%
=end%>

    <%= image_tag "sogou.png", width: 330, height: 80 %>


    <div class="input-group mb-3 mt-3">
        <input
            name="keyword"
            type="text"
            class="form-control"
            aria-label="Recipient's username"
            aria-describedby="basic-addon2"
        >
        <button type="submit" class="btn btn-primary">搜狗搜索</button>

    </div>
</div>
